<h1>New Task</h1>

<%= form_for :task, url: tasks_path do |form| %>
  <p>
    <%= form.label :task %><br>
    <%= form.text_area :task_name %>
  </p>

  <p>
    <%= form.label :private_task %><br>
    <%= form.check_box :task_type, {} , true %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
